@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*,
*::before,
*::after {
	  box-sizing: border-box;
	  padding: 0;
	  margin: 0;
}

:root {
  --Primary-500: hsl(7, 88%, 67%);
  --Primary-700: hsl(7, 71%, 60%);
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

html {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
  font-size: 20px;
  color: var(--Neutral-0);
}

img {
	display: block;
	width: 100%;
}

body {
  height: 100dvh;
  background-image: 
    url("../assets/images/pattern-squiggly-line-bottom.svg"),
    url("../assets/images/pattern-squiggly-line-top.svg"),
    url("../assets/images/pattern-circle.svg"),
    url("../assets/images/pattern-lines.svg"),
    url("../assets/images/background-mobile.png");
  background-size:
    85cqi,
    30cqi,
    30cqi,
    260cqi,
    cover;
  background-position:
    bottom left,
    top 8cqi right,
    top -9cqi left -5cqi,
    top left,
    center;
  background-repeat:
    no-repeat;
}

/* Entire form */
form {

  /*Logo*/
  img {
    width: 50cqi;
    margin: 10cqi auto;
  }

  /*Your Journey...*/
  p:nth-child(1) {
    font-size: 8cqi;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7cqi;
  }

  /*Secure your spot...*/
  p:nth-child(2) {
    font-size: 6cqi;
    font-weight: 700;
    text-align: center;
    color: var(--Neutral-500);
    margin-bottom: 12cqi;
  }

  label {
    width: 92cqi;
    display: block;
    font-size: 5cqi;
    margin: 0 auto;
  }

  /*All inputs*/
  label input {
    display: block;
    width: 100%;
    line-height: 13cqi;
    background-color: rgba(99, 95, 97, 0.25);
    border-radius: 3cqi;
    border: 1px solid var(--Neutral-500);
  }

  /*Avatar upload input*/
  label:nth-child(3) input {
    border: 2px dashed var(--Neutral-500);
    line-height: 30cqi;
    text-align: center;
  }
}

.ticket {
  display: none;
}